<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <meta property="og:title" content="{{ .Title }}">
    <meta name="twitter:title" content="{{ .Title }}">
    {{ if .Description }}
        <meta name="description" content="{{ .Description }}">
        <meta property="og:description" content="{{ .Description }}">
        <meta property="twitter:description" content="{{ .Description }}">
    {{ end }}
    {{ if .Items }}
        <meta property="og:image" content="{{ .PublicBaseURL }}{{ (index .Items 0).PreviewURL }}">
        <meta name="twitter:image" content="{{ .PublicBaseURL }}{{ (index .Items 0).PreviewURL }}">
        <meta name="twitter:card" content="summary_large_image">
    {{ end }}
    <link rel="icon" href="/share/static/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/share/static/style.css"/>
    <link type="text/css" rel="stylesheet" href="/share/static/lg/lightgallery-bundle.min.css"/>
</head>
<body>
<div id="header">
    {{ if .ShowTitle }}
        <h1>{{ if .Title }}{{ .Title }}{{ else }}Gallery{{ end }}</h1>
    {{ end }}
    {{ if .ShowDownload }}
        <div id="download-all">
            <a href="{{ .Path }}/download" title="Download all"><img src="/share/static/images/download-all.svg"
                                                                     height="24"
                                                                     width="24" alt="Download all"></a>
        </div>
    {{ end }}
</div>
{{ if .Description }}
    <div id="album-description">
        <h2>{{ .Description }}</h2>
    </div>
{{ end }}
<div id="lightgallery">
    {{ range .InitialItems }}{{ .HTML }}
    {{ end }}
</div>
{{ if .HasMore }}<div id="loading-spinner"><span class="loader"></span></div>{{ end }}
<script src="/share/static/web.js"></script>
<script src="/share/static/lg/lightgallery.min.js"></script>
<script src="/share/static/lg/lg-fullscreen.min.js"></script>
<script src="/share/static/lg/lg-thumbnail.min.js"></script>
<script src="/share/static/lg/lg-video.min.js"></script>
<script src="/share/static/lg/lg-zoom.min.js"></script>
<script src="/share/static/lg/lg-hash.min.js"></script>
<script type="text/javascript">
  lgallery.init({{ .ItemsJSON }})
  {{ if .OpenItem }}
  const openItem = {{ .OpenItem }}
  const thumbs = document.querySelectorAll('#lightgallery a')
  if (thumbs.length >= openItem) {
    thumbs[openItem - 1].click()
  }
  {{ end }}
</script>
</body>
</html>
